{% extends "layout.html" %}

{% block title %}
Invite Parents
{% endblock %}
{% block script %}
<link href="static/login.css" rel="stylesheet">
{% endblock %}


{% block main %}
<main class="form-signin" style="margin-top: -10vh;">
    <form action="/invite-parents" method="post">
      <img class="mb-1" src="static/kindergarten.png" style="box-shadow: none; height:40px">
      <p>Invite some new parents<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-key ms-2" viewBox="0 0 16 16">
        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg></p>
      <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" style="border-radius:0px">
        <label for="floatingInput">Email of the parents</label>
      </div>
      <button class="w-100 btn btn-lg btn-info btn-radius mt-3" type="submit">Invite</button>
    </form>
    <p class="text-danger text-muted mt-4">If you or the parents forgot the token. Just type in the email again and it will be served to you</p>
    {% block key %}{% endblock %}
  </main>
  {% endblock %}